body {
    font-family: 'Nunito', sans-serif;
}
body .main-top, .main-top a {
    color: white;
}

.main-top {
    /*background: linear-gradient(#5E81A5BD 27%, #81A5BD 55%, #81A5BD 86%, #81A5BD 50%);*/
    background: linear-gradient(89.91deg, #8080E5 -1.36%, #828EE5 11.92%, #849CE4 31.66%, #86AAE4 50.1%, #88B8E4 71.71%, #8AC6E3 88.38%, #8CD4E3 103.19%);
    min-height: 700px;
    width: 100%;
}

@media (max-width:767px){
    .main-top {
        min-height: auto;
    }
}

.main-top-bg {
    background:
            url("/img/bg/bg_1.png") center top no-repeat,
            url("/img/bg/bg_2.png") right 50% no-repeat,
            url("/img/bg/bg_3.png") right 40% no-repeat,
            url("/img/bg/bg_4.png") 45% 45% no-repeat,
            url("/img/bg/bg_5.png") 4% 82% no-repeat,
            url("/img/bg/bg_6.png") left 85% no-repeat,
            url("/img/bg/bg_girl.png") 95% 100% no-repeat;
    padding: 25px;
}
@media (max-width:767px){
    .main-top-bg {
        background: url("/img/bg/bg_girl_translucency.png") -12% 100% no-repeat;
        background-size: 300px;
        padding: 25px 0;
    }
}
@media (max-width:575px){
    .main-top-bg {
        background-size: 290px;
        padding: 15px 0;
    }
}


.logo {
    max-width: 160px;
}

.menu-top {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}
.menu-top li {
    display: inline-block;
    padding: 10px 40px;
}
@media (max-width:1199px){
    .menu-top li {
        padding: 10px 20px;
    }
}

.lang {
    padding: 6px;
}
.lang span {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.lang img {
    display: inline-block;
    width: 20px;
}

.mobile-header {
    padding: 0 10px;
}
.mobile-header > div {
    display: inline-block;
}

.mobile-header .logo img {
    height: 30px;
}

.mobile-header .lang {
    float: right;
    padding: 0;
}

.main-top .banner {
    padding-top: 80px;
}
@media (max-width:767px){
    .main-top .banner {
        padding-top: 32px;
    }
}

@media (max-width:575px){
    .main-top .banner {
        padding-bottom: 20px;
        padding-top: 20px;
    }
}

.main-top .banner h2 {
    font-size: 68px;
    font-weight: 700;
    padding: 10px 0;
}
@media (max-width:1199px){
    .main-top .banner h2 {
        font-size: 50px;
    }
}
@media (max-width:768px){
    .main-top .banner h2 {
        font-size: 45px;
        max-width: 350px;
        margin: auto;
        padding: 0 0 40px;
        text-align: center;
    }
}
@media (max-width:575px){
    .main-top .banner h2 {
        font-size: 31px;
        padding-bottom: 20px;
        max-width: 290px;
    }
}

.main-top .banner h4 {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 40px;
    max-width: 460px;
}
@media (max-width:1199px){
    .main-top .banner h4 {
        font-size: 28px;
        padding-bottom: 30px;
    }
}
@media (max-width:768px){
    .main-top .banner h4 {
        margin: auto;
        max-width: 380px;
        text-align: center;
    }
}
@media (max-width:575px){
    .main-top .banner h4 {
        font-size: 20px;
        padding-bottom: 20px;
        max-width: 290px;
    }
}

.banner-advantages {
    padding: 0;
}
@media (max-width:767px){
    .banner-advantages {
        padding-top: 160px;
    }
}
@media (max-width:575px){
    .banner-advantages {
        padding-top: 65px;
    }
}

.banner-advantages li {
    background: url('/img/check_mark.svg') left 40% no-repeat;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    list-style: none;
    padding: 10px 0 10px 40px;
}
@media (max-width:1199px){
    .banner-advantages li {
        font-size: 18px;
        padding: 5px 0 5px 40px;
    }
}
@media (max-width:575px){
    .banner-advantages li {
        background-position: top center;
        font-weight: 700;
        max-width: 190px;
        margin: auto;
        padding: 25px 5px 30px;
        text-align: center;
    }
}


.bg_iphone {
    display: flex;
    height: 717px;
    margin: 0 15% -330px 0;
    position: relative;
    width: auto;
    overflow: hidden;
}

@media (max-width:1199px){
    .bg_iphone{
        height: 500px;
        margin-bottom: -270px;
    }
}

@media (max-width:767px){
    .bg_iphone{
        height: 330px;
        margin: 15px 0 -200px;
    }
}
@media (max-width:575px){
    .bg_iphone {
        height: 300px;
        margin: 15px 0 -135px;
    }
}

.bg_iphone img {
    margin-left: auto;
    order: 2;
}
@media (max-width:767px){
    .bg_iphone img {
        margin-right: -130px;
    }
}
@media (max-width:575px){
    .bg_iphone img {
        margin-right: -110px;
    }
}


.link_app_store {
    display: block;
    margin-top: 60px;
}

.link_play_market {
    display: block;
}
@media (max-width:767px){
    .link_app_store, .link_play_market {
        text-align: center;
    }
    .link_app_store {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .link_app_store img, .link_play_market img {
        height: 60px;
    }
}
@media (max-width:575px){
    .link_app_store img, .link_play_market img {
        height: 40px;
    }
    .link_app_store, .link_play_market {
        margin: 0 10px;
    }
}

.main-bottom {
    min-height: 400px;
    padding: 20px;
}